<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:maxSdkVersion="18" />

    
    <!-- *****************************  permission  ***************************** -->
    <!-- 在sdcard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取SDCard数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- 联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- *****************************  permission  ***************************** -->


	
    <application android:name="com.pp.application.ZApplication"
        android:allowBackup="true"
        android:icon="@drawable/kevin"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 单元测试 -->
        <uses-library android:name="android.test.runner" />

        
    <!-- *****************************  activity  ***************************** -->
        <!-- list入口 -->
        <activity android:name=".demoList.DemoListActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
      <!-- *************  Android组件  ************* -->
        <!-- SharedPreferences 的使用 -->
        <activity android:name="com.pp.sharedpreferences.SharedPreferencesActivity" android:label="Component/SharedPreferences/Base Use">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>

      <!-- *************  Android View的使用  ************* -->
        <!-- Listview 的使用 -->
        <activity android:name="com.pp.listview.ListViewActivity" android:label="View/ListView">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- Loading框 -->
        <activity android:name="com.pp.loadingDialog.LoadingActivity"  android:label="View/Loading/Dialog Loading">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- Toast -->
        <activity android:name="com.pp.toast.ToastActivity"  android:label="View/Toast/Original Toast">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- 通用Dialog -->
        <activity android:name="com.pp.dialog.CommDialogActivity" android:label="View/Dialog/Base Dialog">
        	<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- View Style-->
        <activity android:name="com.pp.style.ViewStyleActivity" android:label="View/Style/Custom Style">
            <intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- View Gesture-->
        <activity android:name="com.pp.gesture.ViewGestureActivity" android:label="View/Gesture/My Guesture">
            <intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- Layout Animation-->
        <activity android:name="com.pp.view.LayoutAnimation" android:label="View/Animation/Layout Animation">
            <intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- View Animation-->
        <activity android:name="com.pp.view.ViewAnimation" android:label="View/Animation/View Animation">
            <intent-filter>
        		<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
        	</intent-filter>
        </activity>
        
        <!-- Parcelable的使用-传递复杂参数  -->
        <activity android:name="com.pp.parcelable.ActivityA" >
        </activity>
        <activity android:name="com.pp.parcelable.ActivityB" >
        </activity>
        
        <!-- BaseActivity -->
        <activity android:name="com.pp.baseActivity.ActivityA" >
        </activity>
        <activity android:name="com.pp.baseActivity.ActivityB" >
        </activity>
        
        <!-- 网络图片访问 -->
        <activity android:name="com.pp.net.NetImageActivity" >
        </activity>
        <!-- 网络html访问 -->
        <activity android:name="com.pp.net.HtmlViewerActivity" >
        </activity>
        <!-- 网络html访问 -->
        <activity android:name="com.pp.net.NewsActivity" >
        </activity>
        
        <!-- Webview-->
        <activity android:name="com.pp.webview.WebviewActivity">
        </activity>
        
	<!-- *****************************  activity  ***************************** -->
	
	
	
	
	<!-- *****************************  provider  ***************************** -->
        <!-- 内容提供者 -->
        <provider android:name="com.pp.provider.PersonProvider" android:authorities="com.pp.providers.personprovider" >
        </provider>
	<!-- *****************************  provider  ***************************** -->
	
	
	
	
	<!-- *****************************  service  ***************************** -->
	
	<!-- *****************************  service  ***************************** -->
	
	
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.pp" />

</manifest>